asgiref==3.9.1
black==25.9.0
click==8.3.0
dj-database-url==3.1.0
Django==5.2.5
django-debug-toolbar==6.1.0
django-filter==25.2
django-ratelimit==4.1.0
django-redis==5.4.0
djangorestframework==3.16.1
docx==0.2.4
Faker==38.2.0
gunicorn==23.0.0
lxml==6.0.2
Markdown==3.10
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.5.0
psycopg==3.3.2
pymemcache==4.0.0
python-decouple==3.8
python-docx==1.2.0
python-dotenv==1.0.1
pytokens==0.2.0
redis==7.2.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.8.2
